body{
    font-family: sans-serif;
}
nav {
    background:white;
    color: black;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

nav ul > li {
    display: inline-block;
    margin: 0px 30px;
    position: relative;
}

nav ul > li > a {
    font-size: 18px;
    text-decoration: none;
    color: black;
   
    margin: 10px;
}
ul{
    padding-left: 20px;
}

.demo-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .demo-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 650px;
    filter: brightness(30%) saturate(80%);  
  }
  
  .demo-content {
    position: relative;
    margin-left: 100px;
  }
  .container2{
      background-color: #4992ca;
      color: white;
      height: 550px;
      
  }
  .box{
      display: flex;
      margin-left: 200px;
  }
  .box h4{
      text-align: center;
      font-size: 25px;
  }
  .box i{
   margin: auto;
    font-size: 25px;
}
.fire{
    margin-left: 30px;
}
.grass{
    margin-left: 30px;
}
.box2{
    display: flex;
}
.s2{
    margin-left: 40px;
}
.s1{
    margin-left: 200px;
}
.tables{
    display: grid;
    grid-template-columns: 300px 200px 50%;
    grid-template-rows: 200px 230px 250px 180px;
  margin-left: 200px;
}
.qa{
    height: 450px;
    background-color: #4992ca;
    color:white;
  padding-left: 180px;
  
}
.qa ul{
    padding-left: 40px;
    line-height: 20px;
    font-size: 16px;
}
.tab table{
    table-layout: auto;
    margin: auto;
    padding: 10px;
   height: 370px;
}
.tab table td{
    color: #8a8a8a;
    padding: 10px 15px;
    
}
.tab td,th{
    border: solid 1px #8a8a8a;
}
.box3{
    display: grid;
    grid-template-columns: 300px 660px;
    margin-left: 300px;
}
.box3 table{
    table-layout: auto;
    padding: 10px;
}
.box3 table td{
    color: #8a8a8a;
    padding: 10px 15px;
    
}
.box3 td,th{
    border: solid 1px #8a8a8a;
}
.box3 p{
    color: #8a8a8a;
}
.grey{
    margin-top: 50px;
    height: 230px;
    background-color: #424242;
    font-size: 28px;
    color: white;
    text-align: center;
}
.card{
    background-color: rgb(243, 241, 241);
    height:250px;
    width: 200px;
    margin: auto;
    text-align: center;
    border-top: #4992ca 12px solid ;
   
}
.cont{
    width: 200px;
    height: 80px;
    border: solid 1px #d3d0d0;
}
.tables2{
    display: grid;
    grid-template-columns: 300px 200px 50%;
    grid-template-rows: 200px 230px 250px 210px;
 
}
.trainer{
    width: 75%;
    margin: auto;
    color: white;
    background-color:#4992ca ;
}
.grey2{
    margin-top: 50px;
    height: 230px;
    background-color: #424242;
    font-size: 28px;
    color: white;
    text-align: center;
}
.box4 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.designer{
    background-color: #4992ca;
    margin: auto;
    color: white;
    width: 1100px;
    text-align: center;
}
.box4{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    margin-left: 50px;
}
.cont2{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: space-between;
}
.cont2 img{
    height: 90px;
    width: 150px;
}
.blue{
    
    height: 200px;
    background-color: #4992ca;
    font-size: 28px;
    color: white;
    text-align: center;
}

.cardscont{
    height: 800px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;

}
.cardscont p{
    color: rgb(82, 81, 81);
}
.c1{
    border-top: 14px solid #4992ca;
}
.game img{
    height: 200px;
    width: 200px;
}
.game{
    max-width: 75%;
    display: grid;
    grid-template-columns: 330px 330px 330px;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}
.f{
height: 180px;
width: 100%;
background-color: rgb(5, 1, 22);
color: white;
display: flex;

justify-content: space-around;
text-align: center;
}
.f li{
    list-style-type: none;
    color: rgb(219, 221, 216);
    line-height: 25px;
}
.f ol li:first-child{
    color: gray;
}
@media (max-width: 600px) {
    .game { grid-template-columns: repeat(2, 1fr); }
  }
  @media (max-width: 600px) {
    .cont2 { grid-template-columns: repeat(2, 1fr); }
  }
  @media (max-width: 600px) {
    .tables { 
        grid-template-columns: repeat(1, 300px);
        width: 500px;
        align-items: left;
    }
  }
  @media (max-width: 600px) {
    .box4 { grid-template-columns: repeat(1, 1fr); }
  }
  @media (max-width: 600px) {
    .tables2 { grid-template-columns: repeat(1, 1fr); }
  }
  @media(max-width: 600px) {
      .cardscont{
          justify-content: space-evenly;
          
      }   
  }
  